
<form>
  <div *ngIf="hero">
    <h2>{{ hero.name }}</h2>

    <div class="form-group">
      <label for="">Name:</label>
      <input class="form-control" [(ngModel)]="hero.name" placeholder="Name" />

    </div>
    <div class="form-group">
      <label for="">firstName:</label>
      <input class="form-control" [(ngModel)]="hero.firstName" placeholder="firstName" />

    </div>
    <div class="form-group">
      <label for="">Last Name:</label>
      <input class="form-control" [(ngModel)]="hero.lastName" placeholder="Last name" />

    </div>
    <div class="form-group">
      <label for="">Email:</label>
      <input class="form-control" [(ngModel)]="hero.email" placeholder="Email" />

    </div>

    <button class="btn btn-primary" (click)="updateHero(hero)" *ngIf="hero.id">Save</button>
    <button class="btn btn-primary" (click)="deleteHero(hero)" *ngIf="hero.id">Delete</button>
    <button class="btn btn-primary" (click)="createHero(hero)" *ngIf="!hero.id">Create</button>

  </div>
</form>
