
<form>
  <div *ngIf="user">
    <h2>{{ user.name }}</h2>

    <div class="form-group">
      <label for="">Name:</label>
      <input class="form-control" [(ngModel)]="user.name" placeholder="Name" />

    </div>
    <div class="form-group">
      <label for="">firstName:</label>
      <input class="form-control" [(ngModel)]="user.firstName" placeholder="firstName" />

    </div>
    <div class="form-group">
      <label for="">Last Name:</label>
      <input class="form-control" [(ngModel)]="user.lastName" placeholder="Last name" />

    </div>
    <div class="form-group">
      <label for="">Email:</label>
      <input class="form-control" [(ngModel)]="user.email" placeholder="Email" />

    </div>

    <button class="btn btn-primary" (click)="updateUser(user)" *ngIf="user.id">Save</button>
    <button class="btn btn-primary" (click)="deleteUser(user)" *ngIf="user.id">Delete</button>
    <button class="btn btn-primary" (click)="createUser(user)" *ngIf="!user.id">Create</button>

  </div>
</form>
